In [60]:
import sklearn as sl
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [61]:
train_data = pd.read_csv("train.csv")

In [62]:
test_data = pd.read_csv("test.csv")

In [63]:
train_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,60,Male,6.3,3.2,314,118,114,6.6,3.7,1.27,1
1,31,Female,0.8,0.2,158,21,16,6.0,3.0,1.00,1
2,60,Male,19.6,9.5,466,46,52,6.1,2.0,0.40,1
3,34,Male,8.7,4.0,298,58,138,5.8,2.4,0.70,1
4,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1

In [64]:
train_data.fillna(0,inplace=True)
test_data.fillna(0,inplace=True)

In [65]:
train_data.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [66]:
train_data['gender'] = pd.factorize(train_data['Gender'])[0]
test_data['gender'] = pd.factorize(test_data['Gender'])[0]

In [67]:
train_data.drop(columns='Gender',inplace =True)
test_data.drop(columns='Gender',inplace =True)

In [69]:
test_data.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,gender
0,46,0.8,0.2,160,31,40,7.3,3.8,1.10,0
1,15,0.8,0.2,380,25,66,6.1,3.7,1.50,0
2,66,4.2,2.1,159,15,30,7.1,2.2,0.40,1
3,32,0.6,0.1,237,45,31,7.5,4.3,1.34,0
4,60,2.6,1.2,171,42,37,5.4,2.7,1.00,0

In [70]:
X_train=train_data.loc[:,['Age','Alkaline_Phosphotase','Albumin','gender']]
y_train = train_data.loc[:,'Dataset']
X_test = test_data.loc[:,['Age','Alkaline_Phosphotase','Albumin','gender']]

In [55]:
# X_train,X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [71]:
model = KNeighborsClassifier(n_neighbors=10)

In [72]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [74]:
model.predict(X_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1], dtype=int64)

In [75]:
test_data['Dataset'] = model.predict(X_test)

In [76]:
test_data.to_csv("final_test.csv")

In [59]:
# sl.metrics.accuracy_score(model.predict(X_test),y_test)

0.811965811965812